<div class="modal-header">
  Modal 3 Header
  <span class="close" [innerHTML]="close" (click)="modal.hide()"></span>
</div>
<div class="modal-body">
    <div>Clicking outside or pressing Escape Key will not work.</div>
    <div>Click on <span [innerHTML]="close"></span> or Close Button to close the Third Modal Window.</div>
    <br>
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dictum at lectus et lobortis. Praesent tincidunt varius mauris in egestas. Etiam egestas consequat est sed tincidunt. Mauris luctus, elit pulvinar placerat sodales, arcu quam egestas est, ut sollicitudin turpis neque eu ligula. Morbi eleifend tincidunt commodo. Nunc malesuada porta ligula, consequat dictum magna blandit sit amet. Morbi posuere ipsum sit amet quam dapibus, consequat dignissim felis tincidunt.

    Cras vestibulum ut neque sit amet dapibus. Maecenas tempor faucibus leo, eu tincidunt quam iaculis dignissim. Mauris malesuada, eros eget ullamcorper sagittis, purus diam mollis massa, sed faucibus urna ipsum quis felis. Proin justo mauris, aliquet vitae consequat a, maximus vitae sapien. Curabitur congue lacus at porta efficitur. In hac habitasse platea dictumst. Proin venenatis turpis eget lorem mollis ultricies. Sed pharetra dapibus condimentum. Praesent iaculis pharetra nulla, sodales volutpat turpis imperdiet non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non orci viverra, pharetra ligula in, elementum erat. Sed vehicula arcu justo, sit amet bibendum nunc congue quis. Quisque maximus, metus ut laoreet consectetur, purus urna scelerisque metus, laoreet pellentesque ante risus vel orci.
    
    Vivamus hendrerit mauris sit amet sem mattis, eget iaculis massa fermentum. Morbi posuere ligula id erat pharetra, id venenatis risus vulputate. Etiam est mauris, pulvinar ac arcu a, consequat suscipit lacus. Aenean mattis tellus a enim sagittis, sed sodales sem pellentesque. Maecenas vel ullamcorper libero. Fusce ante dolor, malesuada eu pellentesque nec, congue ac leo. Curabitur varius rhoncus urna sed placerat. Morbi mattis felis in sagittis pharetra. Ut nec nisl sem. Integer ullamcorper, elit rhoncus ullamcorper semper, libero dui finibus nibh, non tristique metus nibh non augue. Ut vel lectus non urna faucibus ultrices.
    
    Suspendisse aliquam imperdiet nunc, non tincidunt elit ullamcorper nec. Curabitur fringilla gravida neque et consectetur. Nam eget consequat justo. Donec eget dictum lectus, at facilisis libero. Quisque ex ex, sagittis quis faucibus a, maximus eget diam. Proin mattis, purus eu rhoncus ornare, felis ante bibendum ex, a hendrerit eros tortor ac dui. Nulla facilisi.
    
    Cras turpis massa, iaculis sed mauris eu, laoreet pulvinar justo. Phasellus hendrerit vulputate eros sit amet pharetra. Nunc consequat dolor id nisl feugiat vehicula. Aenean tincidunt neque vitae nibh fringilla condimentum. Fusce ipsum risus, rhoncus nec felis et, sodales accumsan ipsum. Aliquam consectetur nisi id lacus lobortis dignissim. Ut ut suscipit turpis. Etiam ultrices mattis accumsan. Suspendisse lorem mi, pretium et purus nec, aliquet tincidunt magna. In id hendrerit neque. Cras fermentum libero sit amet eleifend pellentesque. Proin consectetur facilisis massa non porta. Sed porttitor est diam, non lacinia arcu feugiat a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sodales nisi nec neque mollis sagittis.
</div>
</div>
<div class="modal-footer">
  <div [ngClass]="buttonGroup">
    <button type="button" class="btn  btn-autosize btn-default" (click)="modal.hide()">Close</button>
    <button type="button" class="btn  btn-autosize btn-primary" (click)="save()">Save</button>
  </div>
</div>