<div class="modal-header">
  Modal 3 Header
  <span class="close" [innerHTML]="close" (click)="modal.hide()"></span>
</div>
<div class="modal-body">
    <div>Clicking outside or pressing Escape Key will not work.</div>
    <div>Click on <span [innerHTML]="close"></span> or Close Button to close the Third Modal Window.</div>
    <div>Click on Save button to save the changes.</div>
</div>
<div [ngClass]="buttonGroup">
  <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>