/* You can add global styles to this file, and also import other style files */

.modal-footer {
    padding:2%;    
}

.modal-body {
    padding:2%;
}

.modal-header {
    padding:2%;
}

.close {
    cursor: pointer;
}

.instruction {
    margin:10px;
    top:1em;
  }
  
  .modal-dialog {
    min-width: 75vh !important;
  }
