You can add global styles to this file, and also import other style files

.modal-body {
  max-height:50vh !important;
  overflow: auto !important;
  padding:2%;
}

.modal-header {
  max-height: 10vh !important;
  background-color: #5cb85c;
  color: white;
  padding:2%;
}

.modal-footer {
  height: 100% !important;
  max-height:10vh !important; 
  padding: 2px 16px;
background-color: #5cb85c;
color: white;
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.instruction {
    margin:10px;
    top:10px;
  }

  .btn {
    white-space: normal !important
  }