You can add global styles to this file, and also import other style files

.modal-footer {
    height: 100% !important;
    max-height:10vh !important;  
}

.modal-body {
    padding:2%;
    max-height:50vh !important;
    overflow: auto !important;
}

.modal-header {
    padding:2%;
    max-height: 10vh !important;
}
.instruction {
    margin:10px;
    top:10px;
  }

  .btn {
    white-space: normal !important
  }

  .btn-autosize {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  @media screen and (min-width: 768px) {
    .btn-autosize {
      padding: 4px 8px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
  }
  @media screen and (min-width: 992px) {
    .btn-autosize {
      padding: 8px 14px;
      font-size: 16px;
      line-height: 1.33;
      border-radius: 6px;
    }
  }


